

  <html>
    <body>

 
 <h1>List Pedidos</h1>
  <table>
      <tr>
        <th>Offer</th>
        <th>Value</th>
        <th>Cliente</th>
        <th>tel</th>
        <th>address</th>
      </tr>
      <% @company.offers.each do |o|%>
      <% o.users.each do |u|%>
      <tr>
        <td><%= o.tittle %></td>  
        <td><%= o.value %></td>  
        <td><%= u.name %></td>  
        <td><%= u.tel %></td>  
        <td><%= u.address %></td>  

      </tr>
      <%end%>
      <%end%>
  </table>

  <h3>Perfil de <%= @company.name %> </h3>
   <%= @company.email %>
  <% if current_user == @company %>
             <ul>
                 <li><%= link_to "Editar Conta", edit_company_path(current_user) %></li>
                 <!--<li><%= link_to "Delete", @company, method: :delete%></li>-->
             </ul>
  <%end%>
  <h1>List Offers</h1>
  <table>
      <tr>
        <th>Offer</th>
        <th>Value</th>
      </tr>
      <% @company.offers.each do |o|%>
      <tr>
        <td><%= o.tittle %></td>  
        <td><%= o.value %></td>  
      </tr>
      <%end%>
  </table>

  <h2>Crie uma offerta</h2>
  <%= form_for([@company, @company.offers.build]) do |f| %>
  <p>
  <%= f.label :tittle %><br>
  <%= f.text_field :tittle %>
  </p>
  <p>
  <%= f.label :value %><br>
  <%= f.text_field :value %>
  </p>
  <p>
  <%= f.submit %>
  </p>
  <%end%>
  </body>
  </html>

